
.fileButton {
    -fx-font-family:"Times New Roman";
    -fx-text-fill: black;
    -fx-font-size: 30px;
    -fx-font-weight: bold;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
    -fx-background-color: linear-gradient(#61a2b1, #2A5058);
}

.button:hover {
    -fx-background-color: linear-gradient(#2A5058, #61a2b1);
}

#titleApp {
    -fx-font-size: 55px;
    -fx-font-family: "Arial Black";
    -fx-fill: #818181;
    -fx-effect: innershadow( three-pass-box , rgba(0,0,0,0.7) , 6, 0.0 , 0 , 2 );
}

.root{
    -fx-background-image: url("programming.jpg");
    -fx-background-repeat: stretch;
    -fx-background-size: 1300 800;
    -fx-background-position: center center;
    -fx-effect: dropshadow(three-pass-box, black, 30, 0.5, 0, 0);
}