.path-table-view{
    -fx-background-color: linear-gradient(#2A5058, #61a2b1);
    -fx-text-fill: black;
}

.table-view .tableColumn{
    -fx-background-color: linear-gradient(#2A5058, #61a2b1);
    -fx-effect: dropshadow(two-pass-box,rgb(10,101,107),15,0.0,0.1,3);
    -fx-font-weight: bold;
    -fx-font-family:"Times New Roman";
}
.path-label{
    -fx-font-weight: bold;
    -fx-font-family:"Times New Roman";
}
.path-text{
    -fx-font-weight: bold;
    -fx-font-family:"Times New Roman";
}
.path-button{
    -fx-font-weight: bold;
    -fx-font-family:"Times New Roman";
}

.path{
    -fx-background-color: linear-gradient(#2A5058, #61a2b1);
    -fx-font-weight: bold;
    -fx-font-family:"Times New Roman";
}
.path-button{
    -fx-font-family:"Times New Roman";
    -fx-text-fill: black;
    -fx-font-size: 10px;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
    -fx-background-color: linear-gradient(#61a2b1, #2A5058);
}

.path-button:hover {
    -fx-background-color: linear-gradient(#2A5058, #61a2b1);
}

#depComboBox{
    -fx-font-size: 10px;
}

#pathToggle{
    -fx-font-family:"Times New Roman";
    -fx-text-fill: black;
    -fx-font-size: 10px;
    -fx-background-color: linear-gradient(#2A5058, #61a2b1);
}

#cycleToggle{
    -fx-font-family:"Times New Roman";
    -fx-text-fill: black;
    -fx-font-size: 10px;
    -fx-background-color: linear-gradient(#61a2b1, #2A5058);
}
#whatIfToggle{
    -fx-font-family:"Times New Roman";
    -fx-text-fill: black;
    -fx-font-size: 10px;
    -fx-background-color: linear-gradient(#61a2b1, #2A5058);
}

